@import '../../app/globals.scss';

.qd-table tbody tr td:first-child {
    padding-left: 0px !important;
}

.qd-table>:not(caption)>*>* {
    padding: 1rem 0.5rem !important;
    border-bottom-style: dashed;
}

.common_text {
    font-size: 16px;
    color: #9499A1;
}